<ion-header>
  <ion-navbar>
    <ion-title>SignIn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button large (click)="SingInTeste()">Teste Login</button>
</ion-content>
